extends layout

block content
  .text-center
    div
      h1 #{title}
    .mt-4
      if downloadLink
        a.btn.btn-outline-primary(href=downloadLink) Download
      if sharedLink
        a.btn.btn-outline-primary(href=sharedLink) Shared Link
  .card.mt-4
    .card-header
      h5 Properties
    .card-body
      table.table
        tbody.text-break
          each prop in props
            tr
              td(style="min-width: 200px")= prop.key
              td= prop.value
